@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gotham/GothamPro.woff') format('woff'),
       url('../fonts/gotham/GothamPro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro Black';
  src: url('../fonts/gotham/GothamPro-Black.woff') format('woff'),
       url('../fonts/gotham/GothamPro-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('../fonts/gotham/GothamProBol.woff') format('woff'),
       url('../fonts/gotham/GothamProBol.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro Ligature';
  src: url('../fonts/gotham/GothamProLig.woff') format('woff'),
       url('../fonts/gotham/GothamProLig.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/gotham/GothamProMed.woff') format('woff'),
       url('../fonts/gotham/GothamProMed.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo 700';
  src: url('../fonts/museo/MuseoCyrl-700.woff') format('woff'),
       url('../fonts/museo/MuseoCyrl-700.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo 900';
  src: url('../fonts/museo/MuseoCyrl-900.woff') format('woff'),
       url('../fonts/museo/MuseoCyrl-900.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}