@media screen and ( min-width: 992px)
  .hero__swiper-button
    &-prev:hover
      background: rgba(0, 0, 0, 0.3) url('../img/hero-arrow-right-hovered.jpg') no-repeat center 
      background-size: contain 
      transform: scaleX(-1)
      width: 14.286rem
    &-next:hover
      background: rgba(0, 0, 0, 0.3) url('../img/hero-arrow-right-hovered.jpg') no-repeat center  
      background-size: contain
      width: 14.286rem  
  .link-item 
    &:hover
      cursor: pointer
      text-decoration: none
      border-bottom: 2px solid $light    
    &--black      
      &:hover
        cursor: pointer
        text-decoration: none
        border-bottom: 2px solid $black
  .news-item__read-more
    &:hover
      color: $primary
  .popular__image-wrap:hover .icon-container      
    display: flex      
  .popular__swiper-button, .youmaylike__swiperbutton
    &-prev, &-next
      &:hover
        background-color: rgba($button-primary, 0.1)  
  .catalog__more-items-button:hover
    background-color: $black
    color: white
  .dropdown    
    &:hover .cart-popup
      display: block
  .questions__button:hover
    background-color: $secondary
  .coupon-button:hover
    background-color: $secondary
  .discount-coupon-block__button:hover
    background-color: $black
    color: white
  .info
    &__add-button:hover
      background-color: $secondary
  .color
    &-variant
      &:hover
        &::after
          position: absolute
          content: ''
          width: 24px
          height: 24px
          border-radius: 50%
          border: 2px solid
          top: -50%
          left: -50%
      &--pink
        &:hover
          &::after
            border-color: #ed7b8c
      &--yellow
        &:hover
          &::after
            border-color: #ccbe3c
      &--red
        &:hover
          &::after
            border-color: #ff4a32
      &--violet
        &:hover
          &::after
            border-color: #8183ad
      &--blue
        &:hover
          &::after
            border-color: #2d5dc5
      &--sand
        &:hover
          &::after
            border-color: #e2a040
  .size
    &-variant            
      &:hover
        border-color: #ef50a2
      &--disabled
        &:hover
          cursor: pointer
          text-decoration: none
          border: 2px solid #e6e6e6
  .item-offer     
    &__buy-button     
      &:hover
        background-color: #252525
        color: $light
      &:first-of-type, &:last-of-type
        &:hover
          color: #f3f7f9       
  .sizes-row--regular
    &:hover
      background-color: $secondary
  .info, .about
    &__image-wrap
      &:hover
        filter: grayscale(0%)

@media screen and ( max-width: 1500px)
  .news-item__text
    max-width: 30rem

@media screen and ( max-width: 1430px)
  .header
    &__logo-link
      margin-right: 10rem
  .link-item
    margin-right: 1.5rem
  .discount-coupon
    &-block
      &-input
        width: 24rem 
      &__button
        padding: 1.214rem 2rem
      &__form 
        padding-left: 3rem
        padding-right: 3rem
  .coupon-button
    width: 11rem
  .info
    &__image-wrap
      margin-right: 1rem 

// @media screen and ( max-width: 1390px)
//   .item-card-full__info
//     flex-basis: 56%
//   .item-card-full__photos
//     flex-basis: 82%

@media screen and ( max-width: 1320px)
  .contacts-block
    &__address, &__phone, &__email, &__skype, &__postscriptum
      font-size: 0.779rem  
  .photo-col__image-wrap
    width: 11.143rem
    height: 11.143rem
  .name-col
    font-size: 1.371rem     
  .delete-button-col
    margin-top: 6.943rem
    margin-left: 5.1rem    

@media screen and ( max-width: 1290px)
  .info
    &__size-picker
      max-width: 17rem

@media screen and ( max-width: 1260px)
  .header
    &__menu
      margin-right: 1.7rem
  .subtitle
    font-size: 4.5rem
  .title
    font-size: 8rem
  .scroll-down
    font-size: 16px
    padding: 19px 47px
  .news-item__text
    max-width: 25rem
  .catalog__cards-container
    max-height: 148.5rem
  .discount-coupon
    &-block
      &-input
        width: 22rem  
        padding-left: 0.4rem
      &__button
        padding: 1.214rem 1.8rem
      &__form 
        padding-left: 3rem
        padding-right: 3rem
  .coupon-button
    width: 10rem   
    font-size: 0.9rem
  .visa-description
    max-width: 45rem  
  .reviews
    &__text
      max-width: 45rem  

@media screen and ( max-width: 1220px)
  .photos
    &__swiper-custom-bullet
      width: 8rem
  .info
    &__description
      font-size: 0.9rem
      max-width: 22rem

@media screen and ( max-width: 1170px)
  .info
    &__add-button
      font-size: 0.986rem
      padding: 1.22rem 2.143rem

@media screen and ( max-width: 1160px)
  .photo-col__image-wrap
    width: 10rem
    height: 10rem
  .data
    width: 38.22rem
  .reviews
    &__name, &__likes-caption, &__rating-caption, &__date-time
    font-size: 0.757rem  
    &__rating-container
      margin-right: 1.5rem
    &__likes-container
      margin-right: 0.5rem
      margin-left: 2.3rem

@media screen and ( max-width: 1140px)
  .header
    &__logo-link
      margin-right: 1rem
  .news-item
    &__title
      font-size: 1.25rem
  .contacts-block
    &__address, &__phone, &__email, &__skype, &__postscriptum
      max-width: 12rem   

@media screen and ( max-width: 1090px)
  .discount-coupon
    &-block
      &-input
        width: 22rem  
        padding-left: 0.4rem
      &__button
        padding: 1.214rem 1.314rem
      &__form 
        padding-left: 1.1rem
        padding-right: 1.1rem
  .coupon-button
    width: 10rem   
    font-size: 0.9rem

@media screen and ( max-width: 1040px)      
  .news-item__text
    max-width: 23rem
    font-size: 0.829rem
  .api-map
    height: 257px    
  #map
    height: 295px !important  
  .photo-col__image-wrap
    width: 9rem
    height: 9rem     

@media screen and ( max-width: 992px)
  .header
    &>.container
      display: flex
      justify-content: space-between
    &__menu
      display: none
    &__interface-buttons
      display: none
  .hamburger
      display: block
  .hero
    &__swiper
      &-slide   
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) 
  .cart
    &-item
      width: 12rem
      &-image-wrapper
        display: none
    &-button
      width: 10rem
      text-align: center
      margin-bottom: 1rem
      &:last-of-type
        margin-bottom: 0
      &-container
        flex-direction: column
  .subtitle
    font-size: 4rem
  .title
    font-size: 7rem
  .sub-ruble
    font-size: 1rem
  .price-from
    font-size: 48px
  .scroll-down
    font-size: 14px
    padding: 17px 44px
  .bottom-container
    justify-content: space-around
  .hero
    &__swiper
      &-button
        &-prev, &-next
          width: 6.5rem
          height: 6.5rem
  .subscribe
    &-input
      width: 30rem
      padding: 1.2rem 0 1.2rem 1.929rem
    &-button
      padding: 1.2rem 2.5rem
      font-size: 1.2rem
  .news
    &-items-container
      flex-direction: column
      align-items: center
    &__section-subtitle
      margin-bottom: 4rem
    &-item
      margin-left: 0
      &:first-of-type
        border-bottom: 1px solid $gray
        border-right: none
        padding-right: 0
        padding-bottom: 2rem
        margin-bottom: 2rem
      &__title
        font-size: 1.1rem
      &__date
        font-size: 4.5rem
      &__month
        font-size: 0.9rem
      &__text
        font-size: 0.81rem
  .item-offer
    flex-basis: 100%
    align-items: center !important
    padding: 0 !important
    //  &:nth-of-type(3) 
    //    align-items: center
  .desktop-visible
    display: none
  .section
    &-title
      font-size: 20px
  .about__section-subtitle
      max-width: 34rem
  .link-block-desktop
    display: none
  .search-input
    width: 35rem
  .modal__close
    right: -8rem
  .secondary
    &-title
      font-size: 1.357rem
    &-description
      font-size: 0.9rem
      // max-width: 19rem
      // &--contacts
      //   max-width: 16.5rem
      &--cart
        max-width: 21.7rem
    &-nav
      padding: 0.171rem 0.6rem
      &__image-wrap
        width: 0.8rem
      &__link
        font-size: 0.729rem
  .visible-quantity-container, .filter-container
    margin-right: 0.65rem
  .visible-quantity-caption, .filter-caption    
    margin-right: 0.5rem
  .display-settings__image-wrap
    margin-right: 0.5rem
  .questions
    &__container     
      flex-direction: column
    &__contacts-block
      margin-top: 5rem
    &__form
      display: flex
      flex-direction: column
    &__button
      position: static
  .contacts-block
    &__address, &__phone, &__email, &__skype, &__postscriptum
      max-width: 20rem
      font-size: 0.929rem  
  .zoom
    &-modal
      &__close      
        display: none
  .modal
    &__close
      display: none         
  .total
    &>.container
      flex-direction: column
      align-items: center
      justify-content: center
    &__money-block
      margin-top: 2rem
      margin-left: 0    
      flex-basis: 100%
      width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center   
    &__title
      align-self: flex-start   
  .discount-coupon-block
    flex-basis: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-left: 0
    width: 100%
    &-input
      width: 70%
      font-size: 0.871rem
    &__form
      display: flex
      justify-content: center
      align-items: center
      width: 100%
    &__button-container
      display: flex
      //flex-direction: column
      justify-content: space-between
      align-items: center
      width: 100%
    &__button
      width: 48%
      padding: 1.214rem 0.9rem
      text-align: center
      margin-right: 0 !important
      margin-bottom: 1rem
  .coupon-button
    width: 30%
    //margin-top: 1rem
    padding-top: 1rem
    padding-bottom: 1rem    
  .table-total
    width: 100%  
  .cart
    &-desktop-container
      flex-wrap: wrap
    //   flex-direction: column
    //   align-items: flex-start
    //   justify-content: center
    &-row
      align-items: center
      &--legend
        display: none
  .photo-col
    flex-basis: 40%
    // &__image-wrap
    //   width: 14rem
    //   height: 14rem
  .name-col
    flex-basis: 100%
    margin-top: 2.543rem    
  .price-col, .quantity-col, .total-col, .delete-button-col
    margin-top: 1rem
  .col--center
    text-align: left
  .quantity-col
    flex-basis: 20%
    text-align: center
  .price-col
    flex-basis: 35%
  .total-col
    text-align: right !important
    flex-basis: 35%
  .delete-button-col
    margin-top: 1.3rem
    margin-left: 0
    flex-basis: 10%
    text-align: right
    margin-bottom: 1.5rem
  select
    width: 3.5rem
    background-position-x: 23px
.footer
  &__link-block
    &:last-of-type
      margin-right: 2.4rem      
.thanks-hero
  &__title
    font-size: 2.6rem
  &__text
    font-size: 1.7rem      

@media screen and ( max-width: 941px)
  .catalog__cards-container
    max-height: 222.5rem

@media screen and ( max-width: 780px)
  .subtitle
    font-size: 2rem
  .title
    font-size: 5rem
    margin-top: 5rem
  .sup-price-tag
    font-size: 0.8rem
  .price-from
    font-size: 40px
  .scroll-down
    font-size: 12px
    padding: 15px 39px
  .hero
    &__swiper
      &-button
        &-prev, &-next
          width: 5.5rem
          height: 5.5rem
  .subscribe
    &-input
      padding: 1rem 0 1rem 1.929rem
      width: 27rem
    &-button
      padding: 1.357rem 2.2rem    
      font-size: 1.1rem  
  .search-input
    width: 30rem
  .modal__close
    right: -6rem        

@media screen and ( max-width: 634px)
  .catalog__cards-container
    max-height: 457.5rem
    justify-content: center
  .footer__link
    &-blocks-container
      flex-direction: column
      justify-content: center
      align-items: center
    &-block:last-of-type    
      margin-top: 4rem
      justify-content: center
      align-items: center
  .footer__logo-link
    padding-left: 2.7rem   
  .thanks-hero
    &__title
      font-size: 2rem
    &__text
      font-size: 1.3rem        

@media screen and ( max-width: 630px)
  .subtitle
    font-size: 1.5rem
    margin-top: 6rem
  .title
    font-size: 4.5rem
    margin-top: 4rem
  .sup-price-tag
    top: -1.6rem
  .price-from
    font-size: 30px
    margin-top: 2rem
  .scroll-down
    font-size: 11px
    padding: 13px 35px
  .hero
    &__swiper
      &-button
        &-prev, &-next
          width: 5rem
          height: 5rem
  .subscribe
    padding: 0.8rem 0 0.8rem 1.929rem
    width: 30rem
    &-button
      padding: 1.357rem 1rem     
      font-size: 1rem    
  .footer
    &__postscriptum
      max-width: 25rem
  .secondary
    &-description
      font-size: 0.75rem      
      max-width: 19.5rem

@media screen and ( max-width: 580px)
  .search-input
    width: 25rem

@media screen and ( max-width: 550px)
  .title
    font-size: 50px
  .price-from
    font-size: 25px
  .scroll-down
    font-size: 8px
    padding: 12px 33px
  .hero
    &__swiper
      &-button
        &-prev, &-next
          width: 4.5rem
          height: 4.5rem    
  .subscribe
    &-input
      padding: 0.6rem 0 0.6rem 1.929rem
      width: 20rem
    &-button
      margin-top: 2.5rem
      padding: 0.6rem 1rem        
      font-size: 0.9rem 
  #subscribe-error
    margin-left: -1.9rem      
  .section
    &-title
      font-size: 16px
    &-subtitle
      max-width: 23rem
      //font-size: 0.65rem
  .promo
    &__section-subtitle
      margin-bottom: 3rem
    &__subscribe-form
      flex-direction: column
      justify-content: center
      align-items: center
  .news
    &-item
      &__date
        font-size: 3rem    
  div
    &.invalid
      margin-top: 0
  .footer
    &__link-block
      &:first-of-type
        margin-right: 2rem
        max-width: 14.8rem
    &-link, &__address, &__phone, &__email, &__skype
      font-size: 0.8rem
  .footer-link-block-title
    font-size: 0.9rem      
  .zoom
    &-wrap
      width: 16rem
      height: 31rem
    &-modal__close
      right: -3.6rem
  .questions
    &__input-group      
      flex-basis: 100% !important
    &__section-title, &__container
      margin-left: 0
    &__button
      font-size: 0.9rem
    &__section-title  
      font-size: 1.171rem
    &__contacts-block      
      padding-left: 0//2.243rem
  .contacts-block
    &__address, &__phone, &__email, &__skype, &__postscriptum
      max-width: 17rem
      font-size: 1.029rem   
      text-align: center
      padding-left: 2.243rem
    &__postscriptum
      margin-left: 0
      text-align: center
    &__title
      text-align: center
  .discount-coupon-block         
    &-input
      width: 100%
      font-size: 0.871rem
    &__form
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 100%
    &__button-container
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 100%
    &__button
      width: 100%
      text-align: center
      margin-right: 0 !important
      margin-bottom: 1rem
  .coupon-button
    width: 100%
    margin-top: 2rem
    padding-top: 1rem
    padding-bottom: 1rem 
  div
    &.invalid        
      &#discount-error
        margin-top: -0.3rem
        margin-left: -10.4rem

@media screen and ( max-width: 510px)
  .cart-row
    flex-direction: column
  .photo-col
    &__image-wrap
      width: 15rem
      height: 15rem
      margin-bottom: 0
  .name-col
    text-align: center

@media screen and ( max-width: 480px)
  .thanks-hero
    &__title
      font-size: 1.5rem
    &__text
      font-size: 1rem       

@media screen and ( max-width: 460px)
  .subtitle
    font-size: 15px
  .title
    font-size: 40px
  // .price-from
  //   font-size: 20px
  // .scroll-down
  //   font-size: 9px
  //   padding: 9px 29px
  .hero
    &__swiper
      &-button
        &-prev, &-next
          width: 4rem
          height: 4rem
  .subscribe
    &-input
      width: 25rem
      padding: 0.4rem 0 0.4rem 1.929rem  
      margin: 0  
    &-button
      padding: 0.6rem 1rem     
      font-size: 0.8rem   
  #subscribe-error
    margin-left: -3.9rem         
  .search-input
    width: 15rem   
  .modal__close
    right: -4rem                   

@media screen and ( max-width: 400px)
  .section-subtitle
    max-width: 22rem
  .visible-quantity-container, .filter-container
    display: none
  .catalog__items-shown
    margin-top: 0.4rem  
  .popular
    &__image-wrap
      width: 12rem
    &__slide-container
      width: 12rem !important     
    &__section-subtitle
      font-size: 0.88rem

@media screen and ( max-width: 370px)
  // .price-from
  //   font-size: 15px
  // .scroll-down
  //   font-size: 7px
  //   padding: 9px 21px
  .hero
    &__swiper
      &-button
        &-prev, &-next
          width: 3.5rem
          height: 3.5rem
  .subscribe
    &-input
      width: 20rem         
    &-button 
      font-size: 0.7rem       
  .footer__logo-link
    padding-left: 1.4rem   
  .thanks-hero
    &__title
      font-size: 1.3rem
    &__text
      font-size: 0.9rem                