@media screen and ( max-width: 1430px)
  .header
    &__logo-link
      margin-right: 10rem
  .link-item
    margin-right: 1.5rem

@media screen and ( max-width: 1260px)
  .subtitle
    font-size: 50px
  .title
    font-size: 120px
  .hero__swiper-slide  
    height: 40rem
  .scroll-down
    font-size: 16px
    padding: 19px 47px

@media screen and ( max-width: 1100px)
  .header
    &__logo-link
      margin-right: 1rem

@media screen and ( max-width: 992px)
  .header__menu
    display: none
  .subtitle
    font-size: 35px
  .title
    font-size: 90px
  .price-from
    font-size: 48px
  .hero__swiper-slide  
    height: 30rem
  .scroll-down
    font-size: 14px
    padding: 17px 44px

@media screen and ( max-width: 780px)
  .subtitle
    font-size: 25px
  .title
    font-size: 70px
  .price-from
    font-size: 40px
  .hero__swiper-slide  
    height: 25rem
  .scroll-down
    font-size: 12px
    padding: 15px 39px

@media screen and ( max-width: 630px)
  .subtitle
    font-size: 20px
  .title
    font-size: 60px
  .price-from
    font-size: 30px
  .scroll-down
    font-size: 11px
    padding: 13px 35px

@media screen and ( max-width: 550px)
  .subtitle
    font-size: 15px
  .title
    font-size: 50px
  .price-from
    font-size: 25px
  .scroll-down
    font-size: 10px
    padding: 12px 33px

@media screen and ( max-width: 460px)
  .subtitle
    font-size: 10px
  .title
    font-size: 40px
  .price-from
    font-size: 20px
  .scroll-down
    font-size: 9px
    padding: 9px 29px