.about
  display: flex
  flex-direction: column
  padding-bottom: 11rem
  &__section-subtitle
    max-width: 67rem
    margin: auto
    margin-bottom: 4.229rem
  &__social-icon-container
    display: flex
    margin: auto
    padding-right: 1rem
  &__image-wrap
    margin-right: 0.714rem
    text-align: center
    vertical-align: middle
    display: flex
    justify-content: center
    align-items: center
    width: 20px
    height: 20px
    &--vk
      background: url('../img/vk.png') no-repeat center
    &--facebook
      background: url('../img/facebook.svg') no-repeat center
    &--twitter
      background: url('../img/twitter.svg') no-repeat center
    &--ok
      background: url('../img/ok.svg') no-repeat center
    &--youtube
      background: url('../img/youtube.svg') no-repeat center
    &:last-of-type
      margin-right: 0
    & img
      display: inline-block
      margin: auto
      vertical-align: middle
      filter: grayscale(100%)
      // &:hover
      //   filter: grayscale(0%)