.questions
  &>.container
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin: auto
    max-width: 100rem
    margin-top: 6.171rem
  &__section-title
    margin-bottom: 3.457rem
    color: $black
    font-size: 1.571rem
    font-weight: 700
    line-height: 1.571rem
    text-transform: uppercase
    letter-spacing: 2.64px
    margin-left: 8.4rem
    font-family: "Gotham Pro Medium"
  &__container
    display: flex
    justify-content: space-between
    margin-bottom: 14rem
    margin-left: 4.5rem
  &__form
    flex-basis: 60.2%
    padding-left: 3.9rem
    position: relative
  &__contacts-block
    flex-basis: 33.5%
    border: 3px solid $secondary
    padding-top: 3.143rem
    padding-left: 3.143rem
    margin-top: 0.4rem
    margin-right: 3rem
  &__input-group    
    display: flex
    flex-direction: column
    position: relative
    flex-basis: 48.1%
  &__label
    color: $title-color
    font-size: 0.857rem
    font-weight: 500
    line-height: 1.571rem
    text-transform: uppercase
    letter-spacing: 0.48px
    margin-bottom: 0.857rem
  &__input
    color: $title-color
    font-size: 1.071rem
    line-height: 2rem
    padding: 0.521rem 0 0.521rem 1.429rem
    border: 1px solid $black
    margin-bottom: 1.529rem
    outline: none
  &__button
    position: absolute
    margin-top: 3rem
    color: white
    font-size: 1rem
    font-weight: 700
    line-height: 2rem
    text-transform: uppercase
    letter-spacing: 0.28px
    background-color: $black
    padding: 0.643rem 1.929rem
    border: none
    outline: none
  &__secondary-description
    max-width: 40rem
textarea
  resize: none    
  margin-bottom: 0 !important  
  height: 10rem
.contacts-block
  display: flex
  flex-direction: column  
  &__title
    color: #333333
    font-size: 0.857rem
    font-weight: 500
    line-height: 2rem
    text-transform: uppercase
    letter-spacing: 0.72px  
    margin-bottom: 1.271rem
    margin-top: -0.7rem
  &__address, &__phone, &__email, &__skype, &__postscriptum
    color: #333333
    font-size: 0.929rem
    line-height: 1.857rem
    text-decoration: none  
    margin-bottom: 1.671rem
    display: flex
  &__icon
    &-wrap
      display: inline-block
      margin-right: 1rem        
  &__postscriptum
    margin-left: 2rem
    max-width: 19rem
    line-height: 1.69rem
.user-data-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  & .questions__input-group
    flex-basis: 48%  
.api-map
  margin-bottom: 4rem
  width: 100%
  height: 37.928rem
  position: relative
  overflow: hidden
  cursor: pointer
  background: url('../img/yandex-before-load-marker-bw.png') #ffffff no-repeat
  background-position: center center
  background-size: cover
.loader
  position: absolute
  z-index: 15
  top: -100%
  left: 0
  box-sizing: border-box
  width: 100%
  height: 100%
  overflow: hidden
  color: #000000
  transition: opacity .7s ease
  opacity: 0
  background-color: rgba(0,0,0,.55)
  &:after, &:before
    box-sizing: border-box
  &.is-active
    top: 0
    opacity: 1
  &-default
    &:after 
      position: absolute
      top: calc(50% - 24px)
      left: calc(50% - 24px)
      width: 48px
      height: 48px
      content: ''
      animation: rotation 1s linear infinite
      border: solid 8px #ffffff
      border-left-color: transparent
      border-radius: 50%
#map
  position: relative
  z-index: 7
  width: 100%
  height: 531px !important
  cursor: pointer
  background-color: transparent
  &::before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 100%
    opacity: 0.5
    background: black
.ymaps-2-1-76-ground-pane 
  filter: brightness(50%)
.ymaps-2-1-76
  height: 531px
