.footer
  background-color: #171e27
  padding-top: 8.286rem
  &__link-blocks-container
    display: flex
    justify-content: space-between
  &__link-block
    display: flex
    flex-direction: column
  &-link, &__address, &__phone, &__email, &__skype
    color: #999999
    font-family: "Gotham Pro"
    font-size: 0.929rem
    font-weight: 400
    line-height: 1.857rem
    text-decoration: none
    &:hover
      color: white
    &-block-title
      color: white
      font-family: "Gotham Pro"
      font-size: 1.071rem
      font-weight: 700
      line-height: 2rem
      text-transform: uppercase
      letter-spacing: 2.1px
      margin-top: 0
      margin-bottom: 3.071rem
  &__logo-link
    margin-bottom: 3.071rem
  &__address
    max-width: 16rem
    margin-bottom: 2.857rem
  &__phone
    margin-bottom: 2.643rem
  &__email
    margin-bottom: 2.643rem
  &-link
    margin-bottom: 1.3rem
  &__logo
    filter: invert(67%) sepia(6%) saturate(24%) hue-rotate(316deg) brightness(88%) contrast(91%)
  