.hero
  position: relative
  height: 100vh
  min-height: 67.642rem
  background: $primary
  color: $light
  &__swiper
    &-slide
      position: relative
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/hero-bg.png') center no-repeat
      background-size: auto 100%
      //filter: brightness(50%)
      text-align: center
      font-size: 18px
      //padding-right: 5rem
      &::before
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 100%
        opacity: 0.5
        background: $primary
    &-button
      &-prev, &-next
        width: 7.143rem
        height: 7.143rem
        outline: none
        top: 47%
        &::after
          display: none
      &-prev
        background: rgba(0, 0, 0, 0.3) url('../img/swiper-arrow-left.svg') no-repeat center  
        left: 0
      &-next
        background: rgba(0, 0, 0, 0.3) url('../img/swiper-arrow-right.svg') no-repeat center
        right: 0   
.header
  //width: 100%
  //padding-top: 3.27rem
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 99
  background-color: transparent
  padding: 3.27rem 0 1rem 0
  display: flex
  justify-content: space-between
  z-index: 20
  &__logo-link
    margin-right: 21.45rem
  &__menu
    display: inline-block
    vertical-align: bottom
    margin-right: 3rem
  &__interface-buttons
    display: inline-flex
  &__burger-dropdown
    display: none
    position: relative
    background: url('../img/menu (4).png') center no-repeat
    width: 3rem
.burger-container
  position: relative
.hamburger
  display: none
  outline: none
  padding: 0
  &-inner
    &--white
      background-color: white !important
      &::before, &::after
        background-color: white !important
  &__menu
    display: none
    position: absolute
    top: 3.3rem
    right: -0.2rem
    width: 18rem
    &--visible
      display: block
    &::before
      content: ''
      border-style: solid
      border-width: 10px 16px 10px 0
      border-color: transparent $light transparent transparent
      position: absolute
      top: -17px
      right: 15px
      transform: rotate(90deg)
  &__link-item
    text-decoration: none
    color: $black
    background-color: white
    display: block
    text-transform: uppercase
    font-size: 1.071rem
    font-weight: 700
    line-height: 2rem
    letter-spacing: 2.1px
    text-align: center
.link-item
  text-decoration: none
  color: $light
  margin-right: 2.47rem
  padding-bottom: 1.071rem
  font-size: 1.071rem
  font-weight: 700
  line-height: 2rem
  text-transform: uppercase
  letter-spacing: 2.1px
  &:hover
    cursor: pointer
    text-decoration: none
    border-bottom: 2px solid $light
  &--black
    color: $black
.interface-buttons
  &__interface-button
    margin-right: 1.5rem
.search-open-button
  margin: 0
.title-description
  position: relative
  padding-top: 19.1rem
  font-size: 20px
  font-weight: 400
  line-height: 2rem
  text-align: center
.subtitle
  position: relative
  font-size: 5rem
  font-weight: 500
  line-height: 2rem
  text-transform: uppercase
  text-align: center
  letter-spacing: 8.58px
  font-family: "Museo", sans-serif
  margin-top: 5rem
.title
  position: relative
  font-size: 8.5rem
  font-weight: 750
  line-height: 2rem
  text-transform: uppercase
  text-align: center
  font-family: "MuseoBold", sans-serif
  margin-top: 7.4rem
  margin-bottom: 4.4rem
.bottom-container
  margin: auto
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 40rem
  position: relative
  margin-bottom: 27rem
.scroll-down
  font-size: 18px
  font-weight: 400
  line-height: 28px
  text-transform: uppercase
  letter-spacing: 0.36px
  font-family: "Gotham Pro Black"
  padding: 14px 50px
  background-color: $button-primary
  color: $light
  margin-right: 5rem
  outline: none
  border: none
  text-decoration: none
  scroll-behavior: smooth
.price-from
  font-family: "Gotham Pro Black"
  font-size: 58px
  font-weight: 400
  line-height: 28px
  text-transform: uppercase
  margin-top: 3.9rem
.sup-price-tag
  font-size: 15px
  top: -2.3rem
.sub-ruble
  font-size: 2rem
  bottom: -0.15rem
.interface-button
  cursor: pointer
// .dropdown
//   cursor: default
.thanks-hero
  position: relative
  height: 100vh
  background: #433D7B
  color: $light
  display: flex
  justify-content: center
  align-items: center
  //font-family: "Museo", sans-serif
  &__title
    text-align: center
    font-size: 3.6rem
    font-family: "Museo", sans-serif
  &__text
    text-align: center
    font-size: 2.3rem
    font-family: "Museo", sans-serif
.item-offer__buy-button
  cursor: pointer