.hero
  position: relative
  height: 100vh
  background: $primary
  color: $light
  // &::before
  //   content: ''
  //   position: absolute
  //   left: 0
  //   bottom: 0
  //   width: 100%
  //   height: 100vh
  //   background: url('../img/hero-bg.png') center no-repeat
  //   opacity: 0.4
  &__header
    padding-top: 3.57rem
    margin-bottom: 204px
  &__content
    margin-bottom: 64px
.header
  display: flex
  justify-content: space-between
.header__logo-link
  margin-right: 20rem
.link-item
  text-decoration: none
  color: $light
  margin-right: 2.5rem
  padding-bottom: 1.071rem
  font-size: 1.071rem
  font-weight: 700
  line-height: 2rem
  text-transform: uppercase
  letter-spacing: 2.1px
  &:hover
    cursor: pointer
    text-decoration: none
    border-bottom: 2px solid $light
.interface-buttons
  &__interface-button
    margin-right: 1.5rem
    &:last-of-type
      margin-right: 0
.title-description
  font-size: 20px
  font-weight: 400
  line-height: 2rem
  text-align: center
.subtitle
  font-size: 78px
  font-weight: 500
  line-height: 2rem
  text-transform: uppercase
  text-align: center
  letter-spacing: 8.58px
  font-family: "Museo", sans-serif
.title
  font-size: 159px
  font-weight: 750
  line-height: 2rem
  text-transform: uppercase
  text-align: center
  font-family: "MuseoBold", sans-serif
.bottom-container
  margin: auto
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 40rem
.scroll-down
  font-size: 18px
  font-weight: 400
  line-height: 28px
  text-transform: uppercase
  letter-spacing: 0.36px
  font-family: "Gotham Pro Black"
  padding: 21px 51px
  background-color: $button-primary
  color: $light
.price-from
  font-family: "Gotham Pro Black"
  font-size: 58px
  font-weight: 400
  line-height: 28px
  text-transform: uppercase
.sup-price-tag
  font-size: 15px
  top: -2.5rem
.sub-ruble
  font-size: 34px