.news
  box-shadow: inset 0 -1px 0 #d1d5db
  background-color: $light-gray
  &__section-title
    padding-top: 11rem
  &__section-subtitle
    max-width: 45rem
    margin: auto
    margin-bottom: 9.214rem
  &-items-container
    display: flex
    padding-bottom: 11.714rem
  &-item
    flex-basis: 50%
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: 7.214rem
    &:first-of-type
      border-right: 1px solid $gray
      margin-left: 0
      padding-right: 5rem
    &__month
      color: $black
      font-family: "Gotham Pro"
      font-size: 1.071rem
      font-weight: 500
      line-height: 2rem
      letter-spacing: -0.3px
    &__date
      color: $black
      font-family: "Gotham Pro Black"
      font-size: 5.714rem
      font-weight: 400
      line-height: 2rem
      text-transform: uppercase
      letter-spacing: -1.6px
      margin: 2rem 0 4rem 0
    &__text
      margin-bottom: 2.929rem
      max-width: 36.1rem
      max-height: 5rem
      overflow: hidden
    &__invisible
      display: none
    &__read-more
      font-weight: bold
      border: none
      background: 0
      padding: 0
      outline: none
      cursor: pointer
      align-self: start
      &:hover
        color: $primary