.shopping-cart
  &>.container
    padding-top: 7.286rem
.cart-row
  display: flex
  flex-wrap: no-wrap
  border-bottom: 1px solid $gray
  &--title
    color: $title-color !important
    font-size: 0.857rem !important
    font-weight: 500 !important
    line-height: 1.571rem !important
    text-transform: uppercase
    letter-spacing: 0.48px !important
    margin-top: 0 !important
    margin-bottom: 0 !important
    cursor: default !important
  &--legend
    height: 3rem
  &:last-of-type
    margin-bottom: 3.714rem
.photo-col
  flex-basis: 15%
  &__image
    width: auto
    height: 100%
    padding-top: 0.5rem
    padding-bottom: 0.5rem
    &-wrap
      width: 12.143rem
      height: 12.143rem
      text-align: center
      background-color: #f3f4f8
      margin-top: 2.5rem
      margin-bottom: 2.5rem
.name-col
  flex-basis: 23%
  color: $black
  font-size: 1.571rem
  font-weight: 700
  line-height: 1.571rem
  text-transform: uppercase
  letter-spacing: 2.64px
  margin-top: 7.143rem
  margin-bottom: 1rem
  &__description
    display: block
    color: #40494e
    font-size: 0.929rem
    line-height: 1.857rem
    text-transform: none
    letter-spacing: 0
.price-col, .total-col
  flex-basis: 10%
  margin-top: 7.143rem
  color: $secondary
  font-size: 1.286rem
  font-weight: bold
  line-height: 2rem
  text-transform: uppercase
.quantity-col
  flex-basis: 10%
  margin-top: 7.143rem  
// .total-col
//   flex-basis: 10%
//   margin-top: 7.143rem  
.delete-button-col
  flex-basis: 5%
  margin-top: 7.143rem  
  cursor: pointer
.col--center
  text-align: center
select
  outline: none
  width: 4rem
.total
  box-shadow: inset 0 -1px 0 #d1d5db
  background-color: #f7f7f7
  padding-top: 7.428rem
  &>.container
    display: flex
  &__title
    color: $black
    font-size: 1.571rem
    font-weight: 700
    line-height: 1.571rem
    text-transform: uppercase
    letter-spacing: 2.64px
    position: relative
    margin-bottom: 4.571rem
    &::after
      content: ''
      width: 4.286rem
      height: 2px
      background-color: $black
      position: absolute
      left: 0
      bottom: -0.786rem
  &__discount-block
    flex-basis: 60%
  &__money-block
    flex-basis: 35%
.short-cart-item
  font-size: 0.857rem
  font-weight: 500
  line-height: 2rem
  text-transform: uppercase
  letter-spacing: 0.72px
  border-bottom: 1px solid $gray
  padding-bottom: 1rem
  display: flex
  justify-content: space-between
  &-name, &-price
    color: $black
  &:last-of-type
    border: none
.table-total
  border: 3px solid $secondary
  padding: 2.571rem
  padding-bottom: 0
  margin-bottom: 7rem
.discount
  &-block
    &__form
      padding: 3.571rem
      background-color: #eee
      display: inline-block
    &-input
      color: #909090
      font-size: 1.071rem
      line-height: 2rem     